{% extends 'base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
        <h1 class="text-center">Registration</h1>
        <form action="{% url 'accounts:register' %}" method="post">
            {% include "partial/form.html" %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
{% endblock %}