{% extends 'base.html' %}
{% load staticfiles %}
{% csrf_token %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'webapp:index' %}" id="home_link">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <p class="nav-item text-white my-auto mr-2">{{ request.user }}</p>
                    <a class="nav-item btn btn-danger mx-2" href="{% url 'accounts:logout' %}" id="exit_link">Logout</a>
                {% else %}
                    <a class="nav-item btn btn-primary mx-2" href="{% url 'accounts:login' %}" id="enter_link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block content %}
    <h1 class="main_header">Profile: {{ user_obj.username }}</h1>
    <p><b>First Name:</b> {{ user_obj.first_name }}</p>
    <p><b>Last Name:</b> {{ user_obj.last_name }}</p>
    <p><b>Email:</b> {{ user_obj.email }}</p>
    <hr>
    <h3 class="mt-5"><b>User Files </b></h3>
    <div class="row justify-content-center mb-5 pb-4">
        {% for file in files %}
            <div class="card border-dark mb-3 my_card" style="width: 18rem;">
                <div class="card-body">
                    <a class="card_header_link" href="{% url 'webapp:file_view' file.pk %}">
                        <h5 class="card-title">{{ file.name }}</h5>
                    </a>
                    <hr>
                    {% if file.author %}
                        <a class="card_header_link" href="{% url 'accounts:user_detail' file.author.pk %}">
                            <h5 class="card-subtitle mb-2 text-center"><b>Author: {{ file.author }}</b></h5>
                        </a>
                    {% else %}
                        <h5 class="card-subtitle mb-2 text-center"><b>Author: Anonymous</b></h5>
                    {% endif %}
                    <h5 class="card-subtitle mb-2">Published: {{ file.created_at }}</h5>
                    <hr>
                    <h5 class="card-subtitle mb-2">Access Type: {{ file.access }}</h5>
                    <h5 class="card-subtitle mb-2 text-center"><a class="btn btn-success mt-2" href="{{ file.file.url }}">Download Now</a></h5>
                </div>
            </div>
        {%endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script type="application/javascript" src="{% static "js/detail.js" %}"></script>
{% endblock %}

