<form class="text-center form-inline" action="" method="GET">
{#    <label for="{{ form.search.id_for_label }}">{{ form.search.label }}:</label>#}
    {{ form.search }}
    <input class="ml-2 btn btn-warning"  type="submit" value="Search">
    {% for error in form.search.errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}
</form>
