{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Add File{% endblock %}
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'webapp:index'%}" id="home_link">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            </div>
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <p class="nav-item text-white my-auto mr-2">{{ request.user }}</p>
                    <a class="nav-item btn btn-danger mx-2" href="{% url 'accounts:logout' %}" id="exit_link">Logout</a>
                {% else %}
                    <a class="nav-item btn btn-primary mx-2" href="{% url 'accounts:login' %}" id="enter_link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <h1 class="main_header text-center pt-4">Add File</h1>
    <div class="form_container">
        <form class="my_form py-4" method="POST" action="{% url "webapp:file_add" %}" enctype="multipart/form-data" >
            {% include 'partial/form.html' with button_text="Create" %}
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script type="application/javascript" src="{% static "js/detail.js" %}"></script>
{% endblock %}