{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Delete Photo{% endblock %}
{% block menu %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'webapp:index'%}" id="home_link">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
            </div>
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <p class="nav-item text-white">Logged in as: {{ request.user }}</p>
                    <a class="nav-item btn btn-danger mx-2" href="{% url 'accounts:logout' %}" id="exit_link">Logout</a>
                {% else %}
                    <a class="nav-item btn btn-primary mx-2" href="{% url 'accounts:login' %}" id="enter_link">Login</a>
                {% endif %}/a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <h1 class="delete_header text-center pt-4">Are you sure you want to delete this Photo?</h1>
    <div class="form_container d-flex">
        <form class="my_form mt-3 d-flex" method="POST" action="{% url "webapp:photo_delete" photo.pk %}">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <div class="btn-group m-4">
                    <input type="submit" class="btn btn-danger my_confirm" value="Confirm Delete">
                    <a  href="{% url 'webapp:index' %}" class="cancel btn btn-success btn-lg active" role="button" aria-pressed="true">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script type="application/javascript" src="{% static "js/detail.js" %}"></script>
{% endblock %}