{% extends 'base.html' %}
{% load staticfiles %}
{% csrf_token %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'webapp:index' %}" id="home_link">Home</a>
        <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated and perms.webapp.delete_file %}
                <a class="nav-item btn btn-outline-danger mx-2" href="{% url "webapp:file_delete" file.pk %}"
                   id="create_link">Delete</a>
            {% endif %}
            {% if request.user.is_authenticated and perms.webapp.change_file %}
                <a class="nav-item btn btn-outline-warning mx-2" href="{% url "webapp:file_update" file.pk %}#"
                   id="create_link">Edit</a>
            {% endif %}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <p class="nav-item text-white my-auto mr-2">{{ request.user }}</p>
                    <a class="nav-item btn btn-danger mx-2" href="{% url 'accounts:logout' %}" id="exit_link">Logout</a>
                {% else %}
                    <a class="nav-item btn btn-primary mx-2" href="{% url 'accounts:login' %}" id="enter_link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{% block title %}{{ file.name }}{% endblock %}
{% block content %}
    <h1 class="main_header text-center pt-4 mb-5"><b>File Details</b></h1>
    <div class="text-center">
        <h4 class="text-center mt-3 mb-3"><b>{{ file.name }}</b></h4>
        <hr>
        {% if file.author %}
            <a class="card_header_link" href="{% url 'accounts:user_detail' file.author.pk %}">
                <h5 class="card-subtitle mb-2 text-center">Author: <b>{{ file.author }}</b></h5>
            </a>
        {% else %}
            <h5 class="card-subtitle mb-2 text-center">Author: <b>Anonymous</b></h5>
        {% endif %}
        <h5>Access Type: <b>{{ file.access }}</b></h5>
        <h5>Date published: <b>{{ file.created_at }}</b></h5>
        {% if file.access == 'private' %}
            {% if request.user == file.author  or file in request.user.private_files.all %}
                <h5 class="card-subtitle mt-2 text-center"><a class="btn btn-success mt-4" href="{{ file.file.url }}">Download
                    Now</a></h5>
            {% endif %}
        {% else %}
            <h5 class="card-subtitle mt-2 text-center"><a class="btn btn-success mt-4" href="{{ file.file.url }}">Download
                Now</a></h5>
        {% endif %}
    </div>

    <h3 class="main_header pt-4 mb-5"><b>File Access Settings</b></h3>
    <form class="mb-4" id="private_users_form">
        <div class="form-group">
            <label for="user_input"><b>User Name</b></label>
            <input type="hidden" id="my_file_id" value="{{ file.id }}">
            <input type="text" class="form-control private_text_input w-50" id="user_input" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Add User you want to have private access to file.</small>
        </div>
        <button type="submit" class="btn btn-warning">Grant Access</button>
        <b><hr></b>
    </form>
    {% for user in file.user_access.all %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="card_header_link" href="{% url 'accounts:user_detail' user.pk %}">
                <button type="button" class="btn btn-info"><b>{{ user.username }}</b></button>
            </a>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
        <hr>


{#        <hr>#}
{#        <a class="card_header_link" href="{% url 'accounts:user_detail' user.pk %}">#}
{#            <h5><b>{{ user.username }}</b></h5>#}
{#        </a>#}
{#        <button type="button" class="btn btn-danger" id="delete_private_user">Delete</button>#}
    {% endfor %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static "js/detail.js" %}"></script>
{% endblock %}